body {
    font-family: 'Archivo', sans-serif;
    color: black;
}

.hero-bg-img {
    background-image: url(images/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.vh-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.me-img {
    max-width: 360px;
    width: 100%;
}

.me-img.homie {
    max-width: 260px;
}

.tools img {
    max-height: 50px;
}
.services {
    background:#F3F1FF;
}
.design {
    background:#E8E6F2;
}

.serve-img {
    max-height: 80px;
}

.footer-section {
    background: #140E2A;
}

.contacts img {
    max-height: 60px;
    vertical-align: middle;
}
.contacts, .contacts p {
    line-height: 60px;
}

.sub-menu {
    display: none;
    width: 190px;
    padding: 10px 20px;
    margin-top: 15px;
}
.sub-menu li {
   margin-bottom: 10px;
   margin-top: 10px;
}

.has-dropdown:hover > a {
    color: #DE751F;
}

.has-dropdown:hover .sub-menu {
    display: block;
}


.sub-menu li:hover a {
   color: black;
}

.hero-text {
    max-width: 648px;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.is-active {
    color: #DE751F;
}


.back-arrow {
    width: 30px;
    opacity: .5;
}

a:hover>.back-arrow {
    opacity: 1;
}